@media (max-width: 1430px) {
    .banner__caption {
        left: 104px;
    }
}

@media (max-width: 840px) {
    .banner__caption {
        left: 50px;
    }
}

@media (max-width: 655px) {
    .banner__caption {
        left: 32px;
    }
}

@media (max-width: 1024px) {
    .offer__header {
        margin-left: 32px;
    }

    .content-item {
        width: calc(50% - 32px);
    }

    .content-item-last {
        display: block;
        width: calc(100% - 32px);
    }

    .promotions__column {
        width: calc(100% - 32px);
    }
}

@media (max-width: 870px) {

    .main__about-us {
        margin-top: 10px;
    }

    .about-us__sygnet {
        width: 64px;
        max-height: 64px;
    }

    .btn__about-us {
        bottom: -35px;
    }

}

@media (max-width: 825px) {
    .banner {
        height: 326px;
        background: url("../img/Group 1.png") no-repeat top center;
    }

    .banner__caption {
        top: 145px;
    }

    .offer {
        margin-top: 32px;
    }
}

@media (max-width: 640px) {
    .offer__header {
        margin-left: 0;
    }

    .content-item {
        display: block;
        width: calc(100% - 32px);
    }
}

@media (max-width: 600px) {
    .banner {
        height: 326px;
        background: url("../img/Group 1.png") no-repeat top center;
    }

    .banner__caption {
        width: 320px;
        height: 60px;
    }

    .banner__one {
        margin-top: -10px;
    }

    .banner__title {
        font-size: 2.4rem;
        line-height: 1;
    }

    .banner__text {
        font-size: 1.2rem;
        top: 41px;
    }

    .offer {
        margin-top: 32px;
    }

    .promotions__item-header {
        padding: 16px 16px 16px 40px;
    }
    .promotions__item__one {
        top: -1px;
        left: 16px;
    }

    .promotions__item__title {
        font-size: 2rem;
    }
}

@media (max-width: 1265px) {
    .column {
        width: calc(33.3333333% - 32px);
    }
    .column__last {
        width: calc(66.6666% - 32px);
    }
}

@media (max-width: 765px) {
    .about-us__sygnet {
        margin: 0 auto 32px;
        display: block;
    }

    .box-text {
        width: 100%;
        border: none;
        padding: 0;
        margin: 0;
    }

}

@media (max-width: 630px) {
    .about-us {
        padding: 40px;
    }
}

@media (max-width: 560px) {
    .about-us {
        padding: 32px;
    }
}

@media (max-width: 420px) {
    .box-text {
        margin: 0 auto;
    }

    .main__about-us {
        margin: 0 auto 170px;
        text-align: center;
    }

    .btn__about-us {
        text-align: center;
        margin-left: -60px;
    }
}

@media (max-width: 793px) {
    .column {
        width: calc(50% - 32px);
    }
}

@media (max-width: 620px) {
    .btn__promotions {
        margin-left: 330px;
    }
}

@media (max-width: 570px) {

    .column {
        width: calc(100% - 32px);
    }

    .btn__promotions {
        margin-left: 280px;
    }
}

@media (max-width: 530px) {
    .btn__promotions {
        margin-left: 30px;
    }

    .promotions__item__one {
        padding: 8px 0;
    }

    .promotions__item__title {
        left: 40px;
    }
}

@media (max-width: 490px) {
    .promotions__item__title {
        margin-right: 50px;
    }
    .main-content {
        padding: 0 16px;
    }
}

@media (max-width: 850px) {
    .columns-price-column {
        width: calc(100% - 32px);
    }

    .content-page-border {
        margin: 0 20px;
    }

    .content-map {
        width: 100%;
        height: 100%;
    }
}

